{{#if id}}
    {{#if isAlbum}}
        <a href="/downloadAlbum?id={{id}}">dl</a>
    {{else}}
        <a href="/download?id={{id}}">dl</a>
    {{/if}}
{{else}}
    <span class="light">dl</span>
{{/if}}
