<p>you can get these from your apple music website cookies!</p>
<form action="/api/login" method="post">
    <input type="text" name="language" placeholder="language">
    <input type="password" name="mediaUserToken" placeholder="token (Media-User-Token)">
    <input type="text" name="storefront" placeholder="storefront (itua)">
    <input type="submit" value="login!">
</form>
<form action="/api/logout" method="post">
    <input type="submit" value="logout">
</form>
